/* Celulares */

@media (max-width: 900px) {
  .todo {
    display: flex;
    flex-direction: column;
    background-color: black;
    margin: 0px;
    height: 100%;
  }

  .pagina__principal {
    height: 616px;
    background-image: url(./assets/fondo.png);
    background-position: center;
  }

  .pagina__pricipal__titulo__principal {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 48px;
    text-align: center;
    letter-spacing: -1px;
    color: #ffffff;
  }

  .pagina__pricipal__titulo__secundario {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    text-align: center;
    letter-spacing: -2px;
    color: #ffffff;

  }
  
}

/* Escritorio */

@media (min-width: 900px) {
  .todo {
    display: flex;
    flex-direction: column;
    background-color: black;
    margin: 0px;
    height: 100%;
  }

  .pagina__principal {
    height: 616px;
    background-image: url(./assets/fondo.png);
    background-position: center;
  }

  .pagina__principal__cuerpo{
    margin-top: 100px;
  }

  .pagina__pricipal__titulo__principal {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 48px;
    text-align: center;
    letter-spacing: -1px;
    color: #ffffff;
  }

  .pagina__pricipal__titulo__secundario {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    text-align: center;
    letter-spacing: -2px;
    color: #ffffff;

  }
 
}