.pagina__mis__servicios {
  height: 1375px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: white;
  color: black
}

.pagina__mis__servicios__titulo {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  text-align: center;
  letter-spacing: -2px;
  color: #2C2C2C;
}

.pagina__mis__servicios__servicios{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.pagina__mis__servicios__bloque__mis__servicios {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 52px;
  margin-right: 52px;
  margin-bottom: 20px;
}

.pagina__mis__servicios__imagen {
  width: 171px;
  height: 112px;
  align-self: center;
}

.pagina__mis__servicios__titulo__secundario {
  /* Large Bold */

  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  /* identical to box height */

  text-align: center;

  /* casi-negro */

  color: #2c2c2c;
}

.pagina__mis__servicios__parrafo {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;

  /* casi-negro */

  color: #2c2c2c;
} 

/* Cosas de la pagina movil */

.pagina__mis__servicios__todo {
  display: flex;
  flex-direction: column;
  background-color: black;
  margin: 0px;
  height: 100%;
}

.pagina__servicios__individual__titulo {
  margin: 15px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  text-align: center;
  letter-spacing: -1px;
  color: #ffffff;
}

.pagina__servicios__individual__contenido {
  background-color: black;
}

.pagina__mis__servicios__imagen {
  width: 50%;
  align-self: center;
}

.pagina__mis__servicios__titulo__secundario {
  color: white;
}
.pagina__mis__servicios__parrafo {
  color: white;
}
.pagina__servicios__individual__data {
  display: flex;
  flex-direction: column;
  background-color: black;
  margin: 20px;
  justify-content: space-evenly;
  margin-top: 40px;
}
.pagina__mis__servicios__bloque__mis__servicios {
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: black;
}

.pagina__mis__servicios__imagen {
  width: 100%;
}
.pagina__mis__servicios__titulo__secundario {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  text-align: center;

  /* casi-blanco */

  color: #dbdbdb;
}

.pagina__mis__servicios__parrafo {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;

  /* casi-blanco */

  color: #dbdbdb;
}
